<!DOCTYPE html>
<html lang="en">

<head> 
  <meta charset="UTF-8">
  <title>Villain_Island_Villas!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
  body {
    background-color: rgb(54, 8, 8);
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #about-us {
    background-color: lightsteelblue;
  }

  img.center {
    display: block;
    margin: 0 auto;
  }

</style>

 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Leaflet Step-1</title>
 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><h2>Villain Island Villas!</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/""><h3>Home Page</h3><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="data_table"><h3>Data Table</h3><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><h3>About Us</h3><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" id="about-us">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Stewart Knight</h2>
        <img src="static/images/stew.png" class="center" height="175" width="190">
        <br>
        <h4 class="text-center">Stewart is University of Miami graduate and Receiving Manager at Great Outdoor Provision Co.</h4>
        <h5 class="text-center"><a href=https://www.linkedin.com/in/stewart-knight-368852a3/>Click here to go to Stewart's LinkedIn profile</a></h5>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">Taylor Middlebrooks</h2>
        <img src="static/images/head_shot.png" class="center" height="175" width="170">
        <br>
        <h4 class="text-center">Taylor Middlebrooks is a Co-Host at Property Rights LLC</h4>
        <h5 class="text-center"><a href=https://www.linkedin.com/in/taylormiddlebrooks/>Click here to go to Taylor's LinkedIn profile</a></h5>
      </div>
    </div>
    <br>
    <!-- LinkedIn pages need to open in a new page. GJM-->
    </br>
    <div class="row">
      <div class="col-md-4">
        <h2 class="text-center">Maria Romero</h2>
        <img src="static/images/maria.png" class="center" height="190" width="215">
        <br>
        <h4 class="text-center">Maria is Purchasing Agent with the UNC Health Care Company</h4>
        <h5 class="text-center"><a href=https://www.linkedin.com/in/maria-luz-romero>Click here to go to Maria's LinkedIn profile</a></h5>

      </div>
      <div class="col-md-4">
        <h2 class="text-center">Alex Young</h2>
        <img src="static/images/alex.png" class="center" height="190" width="215">
        <br>
        <h4 class="text-center">Alex has experience with the Public Education System in grades 9-12.</h4>
        <h5 class="text-center"><a href=https://www.linkedin.com/in/alexyoung21>Click here to go to Alex's LinkedIn profile</a></h5>

      </div>
      <div class="col-md-4">
        <h2 class="text-center">George McGuire</h2>
        <img src="static/images/george.png" class="center" height="190" width="215">
        <br>
        <h4 class="text-center">George McGuire is an East Carolina University graduate in Applied Economics.</h4>
        <h5 class="text-center"><a href=https://www.linkedin.com/in/george-mcguire-5345a2183>Click here to go to George's LinkedIn profile</a></h5>
      </div>
    </div>
  </div>
  <br>
  <br>

</html>