<!DOCTYPE html>
<html lang="en">

<head> 
  <meta charset="UTF-8">
  <title>Villain_Island_Villas!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="http://parsleyjs.org/dist/parsley.js"></script>

  <style>
    body {
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Aerial_view_of_Woody_Island.jpg");
      background-repeat:no-repeat;
      background-size:cover;
    } 
    
      #top_row {
        background-color: lightsteelblue;
        text-align: center;
      }
    
      #cool_beans {
        display: block;
        margin: 0 auto;
      }
      .form-inline .form-group {
        margin-right:4px;
      }
    
      input {margin-bottom: 5px;}
    
      button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

      input.parsley-error {
        color: #B94A48 !important;
        background-color: #F2DEDE !important;
        border: 1px solid #EED3D7 !important;
      }
    </style>

 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Leaflet Step-1</title>
 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
</head> 

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h2>Villain Island Villas!</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><h3>Home Page</h3><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/data_table"><h3>Data Table</h3><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about_us"><h3>About Us</h3><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="well">
          <div class="row" id="top_row">
            <div class="col-md-12">
            <h2 class="text-center">Filter Options</h2>
            </div>
          </div>
          <br>
          <div id="cool_beans">
            <h3 class="text-center">Select up to 3 parameters</h3>
            <select id="first_selection"></select>
            <select id="second_selection"></select>
            <select id="third_selection"></select>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <form class="form" id="form" data-parsley-validate="">
                <div class="form-group">
                  <label for="stockInput">Acreage</label>
                  <input type="text" class="form-control" name="name"  id="min_acreage_input" placeholder="Enter minimum acreage" data-parsley-type="integer" data-parsley-trigger="change" data-parsley-error-message="This must be a number">
                  <input type="text" class="form-control" id="max_acreage_input" placeholder="Enter maximum acreage" data-parsley-type="integer" data-parsley-trigger="change" data-parsley-error-message="This must be a number">
                </div>
              </form>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <form class="form" data-parsley-validate="">
                <div class="form-group">
                  <label for="stockInput">Distance to Nearest City</label>
                  <input type="text" class="form-control" id="min_distance_input" placeholder="Enter minimum distance" data-parsley-type="integer" data-parsley-trigger="change" data-parsley-error-message="This must be a number">
                  <input type="text" class="form-control" id="max_distance_input" placeholder="Enter maximum distance" data-parsley-type="integer" data-parsley-trigger="change" data-parsley-error-message="This must be a number">
                </div>
              </form>
            </div>
          </div>


          <br>
          <form class="form-inline">
            <div class="form-group">
              <label for="stockInput">Country</label>
              <select id="country_input"></select>
            </div>
          </form>
          <div class="col-md-12 text-center">
            <button id="submit" type="submit" class="btn btn-success center-block">Update Plots</button>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-3"><div id="gauge"></div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div id="scatter"></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class=well>
        <h2 class = "text-center">Select up to two Countries</h2>
        <select id="country_selection_1"></select>
        <select id="country_selection_2"></select>
      </div>
      <div id="bar"></div>
    </div>
  </div>
  <br>
  <br>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/build.js') }}"></script>
</body>
</html>